*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body{
    background-color: #F0F4F5;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px 10px 80px;
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 55px;
}
header ul li a{
    text-decoration: none;
    color:#000000 ;
    font-size: 30px;
    font-weight: 700;
}
.stethoscope {
    position: absolute;
    height: 85%;
    z-index: -1;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 150px 10px 80px;
}
.main_left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.main_left h1{
    font-size: 85px;
}
.main_left p{
    margin-top: 30px;
    font-size: 22px;
    color: #575757;
}
.bottomangle{
    position: relative;
    left: 645px;
    bottom: -27px;
}

button{
    margin-top: 15px;
    border: none;
    background-color: #20BC7E;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    padding: 18px 50px;
    border-radius: 60px;
}
.main_right{
    display: flex;
    align-items: center;   
    flex-direction: column;
}

.greenbox{
    position: absolute;
    width: 35%;
    top: 140px;
    right: 10px;
}
.yellowbox{
    position: absolute;
    width: 30%;
    top: 200px;
    right: 10px;
}
.doctor{
    position: absolute;
    height: 90%;
    top: 81px;
    right: 0px;
}
.scrool{
    position: absolute;
    bottom: 45px;
    right: 45%;
}